In [6]:
import pandas as pd
import requests

In [28]:
list_of_domains =[
    'hornbach.de',
    'bauhaus.info',
    'hagebau.de',
    'kaufland.de',
    'globus-baumarkt.de',
    'manomano.de',
    'mein-schoener-garten.de',
    'otto.de',
    'bauhaus.at',
    'hornbach.at',
]

In [29]:
list_urls = [f'https://api.similarweb.com/v1/similar-rank/{domain}/rank?api_key={key}' for domain in list_of_domains]

In [21]:
def get_data(r):
    string = r.json()
    domain = string['meta']['request']['domain']
    rank = string['similar_rank']['rank']
    return domain, rank

In [30]:
results = []
for url in list_urls:
    r = requests.get(url)
    tup = get_data(r)
    results.append(tup)

In [31]:
pd.DataFrame(results)

                          0      1
0               hornbach.de   4785
1              bauhaus.info   5681
2                   toom.de   4686
3                hagebau.de  25059
4               kaufland.de    948
5        globus-baumarkt.de  18311
6               manomano.de  13691
7   mein-schoener-garten.de  26673
8                   otto.de    418
9                bauhaus.at  46875
10              hornbach.at  31127